<% content_for(:title) { "Record | #{@record.uid}" } %>

<div id="inner-content">
  <div class="divide-y-2 divide-[#303e7b] text-indigo mt-12">
    <section>
      <div class="wrap mx-auto px-4 pb-14 md:pb-20 flex flex-col items-center">
        <header class="md:mx-auto md:text-center mt-8 md:mt-16 mb-10 md:mb-16">
          <h1 class="text-3.5xl md:text-5xl leading-10">
            <%= @record.uid %>
          </h1>
        </header>

        <div class="mx-auto mt-6 text-center text-indigo md:w-2/3 lg:w-1/2 md:text-xl mb-8">
          <p> Created <%= time_tag @record.created_at, "data-local": "time-ago" %></p>

          <p><%= @record.transcript %></p>

        </div>

        <div class="md:px-16 w-full">
          <%= audio_tag @record.file, autoplay: false, controls: true, class: "mx-auto w-full px-36 max-w-xl md:max-w-7xl object-cover rounded-4" if @record.file.content_type == "audio/mpeg" %>
        </div>
      </div>
    </section>

    <section>
      <div class="wrap mx-auto divide-y-2 lg:divide-y-0 lg:divide-x-2 divide-[#303e7b] lg:grid grid-cols-2">
        <div class="grid grid-cols-2 divide-x-2 divide-[#303e7b]">
          <div class="text-center p-4 md:p-10 md:px-14 lg:p-14 md:pb-16 lg:pb-20">
            <div class="text-5xl md:text-6xl md:pb-6">💯</div>
            <h3 class="md:text-xl font-medium mb-2">Ratings</h3>
            <div class="text-left">
              <%= @record.analysis %>
            </div>
          </div>
          <div class="text-center p-4 md:p-10 md:px-14 lg:p-14 md:pb-16 lg:pb-20">
            <div class="text-5xl md:text-6xl md:pb-6">🫠</div>
            <h3 class="md:text-xl font-medium mb-2">Reviewee</h3>
            <div class="text-left">
              <%= @record.analysis %>
            </div>
          </div>
        </div>
        <div class="grid grid-cols-2 divide-x-2 divide-[#303e7b]">
          <div class="text-center p-4 md:p-10 md:px-14 lg:p-14 md:pb-16 lg:pb-20">
            <div class="text-5xl md:text-6xl md:pb-6">🐻</div>
            <h3 class="md:text-xl font-medium mb-2">Reviewer</h3>
            <div class="text-left">
              <%= @record.analysis %>
            </div>
          </div>
          <div class="text-center p-4 md:p-10 md:px-14 lg:p-14 md:pb-16 lg:pb-20">
            <div class="text-5xl md:text-6xl md:pb-6">🤖</div>
            <h3 class="md:text-xl font-medium mb-2">
              Groq AI Remarks
            </h3>
            <div class="text-left">
              <%= @record.analysis %>
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>
</div>
