<%= form_with model: [@record, @review]  do |form| %>
  <div class="mb-4">
    <label for="transcript" class="block text-lg font-medium text-indigo mb-1">Assignee</label>
    <%= form.text_field :assignee, value: params[:assignee] ? params[:assignee] : @review.assignee, readonly: true, class: "w-full px-4 py-2 border border-[#303e7b] rounded-md focus:outline-none focus:border-[#303e7b] text-indigo bg-transparent capitalize" %>
  </div>

  <div class="mb-4">
    <label for="transcript" class="block text-lg font-medium text-indigo mb-1">Assignee</label>
    <%= form.text_field :name, placeholder: "#{params[:assignee]} name", class: "w-full px-4 py-2 border border-[#303e7b] rounded-md focus:outline-none focus:border-[#303e7b] text-indigo bg-transparent capitalize placeholder-[#303e7b]" %>
  </div>

  <div class="mb-4">
    <label for="title" class="block text-lg font-medium text-indigo mb-1">Remarks</label>
    <%= form.rich_text_area :remarks, required: true, class: "w-full px-4 py-2 border border-[#303e7b] rounded-md focus:outline-none focus:border-[#303e7b] text-indigo bg-transparent" %>
  </div>

  <%= form.submit class: "w-full bg-[#303e7b] rounded-md px-5 py-3 text-white hover:bg-indigo-300 w-52 cursor-pointer" %>
<% end %>