<div class="mb-4">
  <p class="md:text-xl"><%= link_to review.remarks, [:edit, @record, review] %></p>
  <p class="md:text-xl">by <%= review.name? ? review.name : "reviewer" %></p>
  <i>Added <%= time_tag review.created_at, "data-local": "time-ago" %></i>
  <div>
    <span class="md:text-xl"><%= link_to "Edit", [:edit, @record, review] %></span>
    <span class="md:text-xl"><%= link_to "Delete", [@record, review], data: { turbo_method: :delete, "turbo_confirm": "Are you sure?" } %></span>
  </div>
</div>